@page "/"
@using CountryDataDotnetDemo.Web.Components.Interface
@inject ICountryDataApi CountryDataApi
@rendermode InteractiveServer

<h3>Countries</h3>

<ul>
    @if (countries != null)
    {
        foreach (var country in countries)
        {
            <li>@country</li>
        }
    }
</ul>

@code {
    private List<string>? countries;

    protected override async Task OnInitializedAsync()
    {
        var countriesJson = await CountryDataApi.GetCountriesAsync();
        countries = System.Text.Json.JsonSerializer.Deserialize<List<string>>(countriesJson);
    }
}

